@import 'normalize';
@import 'bourbon';
@import 'neat';
@import "bootstrap";
@import "font-awesome";

@import 'variables';
@import 'fonts';

html {
  font-size: 60%;
}

.center {
  text-align: center;
}

.primary-font {
  font-family: 'HoeflerTitling-HTF-BdSC';
}

.caps {
  text-transform: uppercase;
}

.right {
  float: right;
}

.vertical-third {
  position: relative;
  top: 33vh;
  transform: translateY(-50%);
}

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  background-color: rgba(255, 255, 255, .8);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  float: none;
}

.navbar .navbar-nav > li > a {
  padding: 2.2rem;
  
  color: #000;
  font-size: 1.6rem;
  font-family: 'HoeflerTitling-HTF-BdSC';
  text-transform: uppercase;
}

.navbar-default .navbar-toggle {
  border-color: #888;
}

.main-header {
  height: 100vh;

  background-image: url(/assets/img/hero.jpeg);
  background-position: -10rem -5rem;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
  position: relative;
  top: 40rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;

  font-size: 11rem;
  font-family: 'HoeflerTitling-HTF-SmSwash';
}

.header-and {
  margin-top: 3rem;

  font-size: 3rem;
  font-family: 'HoeflerTitling-HTF-LtSC';
  text-transform: uppercase;
}

.header-subtitle {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-family: 'HoeflerTitling-HTF-BdSC';
}

section {
  padding: 7rem 0;

  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 5rem;

  text-align: center;
  font-size: 4.5rem;
  font-family: 'KirbyLovesAmy';
  color: #fefbf7;
}

.section-content {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.section-content a {
  color: #fff;
}

.section-content a:hover {
  text-decoration: underline;
}

.bride-and-groom-section {
  text-align: center;
}

#bride-and-groom-section {
  // min-height: 400px;
  background-color: #AB8CAB;
  /* background-image: url(/assets/img/flourish.png); */
}

#location-section {
  // min-height: 400px;

  color: #333;
  background-image: url('https://api.mapbox.com/v4/mapbox.light/pin-l+AC8BAC(-85.661,40.592)/-85.65,40.592,14/1280x800.png?access_token=pk.eyJ1Ijoia2lyYnkiLCJhIjoiY2lqZzd0d3FlMDE5d3RobTV0NW9hNjM4OCJ9.a_Ro4knFLUPjaQG3cTx3fw');
  background-position: center center;
  background-size: cover;
}

#location-section .section-title {
  color: #333;
  text-align: left;
  padding: 0;
}

.location-wrapper {
  text-align: left;
  float: right;
  background-color: #fff;
  padding: 4rem;
}

.location-heading {
  font-family: 'HoeflerTitling-HTF-BdSC';
  font-size: 2.75rem;
}

.location-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
}

#photos-section {
  background-color: #333;
}

.gallery-img > img {
  max-width: 36rem;
  max-height: 24rem;
  margin: .75rem;
}

#registry-section {
  // min-height: 400px;

  background-color: #fff;
  text-align: center;
}

#registry-section .section-title {
  color: #333;
  padding-bottom: 0;
}

.registry-subtitle {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5rem;
}

.registry-logo {
  width: 30rem;
}

#rsvp-section {
  background-color: #6C3753;
  /* background-image: url(/assets/img/flourish.png); */
}

footer {
  color: #fefbf7;
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .175rem;
}

footer > a {
  color: #fefbf7;
  border-bottom: 1px dashed #fefbf7;
}

footer > a:hover,
footer > a:focus {
  color: #fefbf7;
  text-decoration: none;
  border-bottom: 1px solid #fefbf7;
}

.bride-headshot, .groom-headshot {
  width: 25rem;
  box-shadow: 0 5px 23px 0 #6C3753;
  margin: 0 2rem;
}

.bride-headshot {
  float: right;
}

.groom-headshot {
  float: left;
}

.bride-and-groom-bio {
  margin-top: 5rem;
  font-size: 2.1rem;
  text-shadow: 2px 2px 10px #6C3753;
  line-height: 4rem;
  font-family: 'Open Sans', sans-serif;
  color: #fefbf7;
  text-align: center;
}

.rsvp-input {
  padding: 2.5rem;
  margin: 3rem 0;
}

.rsvp-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.rsvp-submit {
  padding: 1.5rem;
  width: 100%;
  font-family: 'HoeflerTitling-HTF-BdSC';
  text-transform: uppercase;
}

.button-wrapper {
  text-align: center;
}

footer {
  padding: 3.25rem;

  text-align: center;
  font-size: 1.75rem;
}

footer .fa-heart {
  color: #f77380;
}

@media (max-width: 1400px) {
  .main-header {
    background-position: -25rem 0;
    background-size: 155rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-nav > li > a {
    padding: 2rem;
  }
  
  .main-header {
    background-position: -32rem 0;
    background-size: 160rem;
  }

  .header-text {
    top: 35rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 45%;
  }

  .navbar .navbar-nav > li > a {
    padding: 1.8rem;
  }

  .main-header {
    background-position: -33rem 0;
    background-size: 140rem;
  }

  .section-title {
    padding-bottom: 3rem;
  }

  .bride-headshot, .groom-headshot {
    width: 20rem;
    margin: 0;
  }

  .bride-and-groom-bio {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .main-header {
    background-position: -6rem 0;
    background-size: cover;
  }

  .header-text {
    top: 55rem;
  }

  .header-and, .header-subtitle {
    margin: 0;
  }

  .header-title {
    font-size: 7rem;
  }
  
  .header-and {
    font-size: 2rem;
  }
  
  .header-subtitle {
    font-size: 2.5rem;
  }

}

@media (max-height: 736px) {
  .header-text {
    top: 50rem;
  }

  .section-title {
    padding-bottom: 2rem;
  }

  .bride-headshot, .groom-headshot {
    width: 15rem;
  }

  .bride-and-groom-bio {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media (max-height: 667px) {
  .header-text {
    top: 45rem;
  }

  .header-title {
    font-size: 5rem;
  }
  
  .header-and {
    font-size: 1.5rem;
  }
  
  .header-subtitle {
    font-size: 2rem;
  }

}

@media (max-height: 568px) {
  .header-and, .header-subtitle {
    margin: 0;
  }

  .header-text {
    top: 40rem;
  }

  .bride-headshot, .groom-headshot {
    width: 10rem;
  }

  .bride-and-groom-bio {
    margin-top: 3rem;
  }
}

@media (max-height: 480px) {
  .header-text {
    top: 35rem;
  }

}

