@import 'normalize';
@import 'bourbon';
@import 'neat';
@import "bootstrap";
@import "font-awesome";

@import 'variables';
@import 'fonts';

.vertical-third {
  position: relative;
  top: 33vh;
  transform: translateY(-50%);
}

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  background-color: rgba(255, 255, 255, .8);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  float: none;
}

.navbar .navbar-nav > li > a {
  padding: 1.5em;
  
  color: #000;
  font-size: 1.2em;
  font-family: 'HoeflerTitling-HTF-BdSC';
  text-transform: uppercase;
}

.main-header {
  height: 100vh;

  background-image: url(/assets/img/hero.jpeg);
  background-position: center center;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;

  font-size: 8em;
  font-family: 'HoeflerTitling-HTF-SmSwash';
}

.header-and {
  margin-top: 1em;

  font-size: 2em;
  font-family: 'HoeflerTitling-HTF-LtSC';
  text-transform: uppercase;
}

.header-subtitle {
  margin-top: 1em;
  font-size: 2.5em;
  font-family: 'HoeflerTitling-HTF-BdSC';
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 1em;
  }
}

section {
  padding: 5em 0;

  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 50px;

  text-align: center;
  font-size: 3em;
  font-family: 'KirbyLovesAmy';
  color: #fefbf7;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.section-content a {
  color: #fff;
}

.section-content a:hover {
  text-decoration: underline;
}

.bride-and-groom-section {
  text-align: center;
}

#bride-and-groom-section {
  min-height: 400px;
  background-color: #AB8CAB;
  /* background-image: url(/assets/img/flourish.png); */
}

#location-section {
  min-height: 400px;

  color: #333;
  background-image: url('https://api.mapbox.com/v4/mapbox.light/pin-l+AC8BAC(-85.661,40.592)/-85.65,40.592,14/1280x800.png?access_token=pk.eyJ1Ijoia2lyYnkiLCJhIjoiY2lqZzd0d3FlMDE5d3RobTV0NW9hNjM4OCJ9.a_Ro4knFLUPjaQG3cTx3fw');
  background-position: center center;
  background-size: cover;
}

#location-section .section-title {
  color: #333;
  text-align: left;
  padding: 0;
}

.location-wrapper {
  text-align: left;
  float: right;
  background-color: #fff;
  padding: 3em;
}

.location-heading {
  font-family: 'HoeflerTitling-HTF-BdSC';
  font-size: 2em;
}

.location-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
}

#photos-section {
  background-color: #333;
}

.test {
  max-width: 84em;
}

.gallery-img > img {
  /* max-width: 400px; */
  /* max-height: 266px; */
  max-width: 380px;
  max-height: 253px;
  margin: 7px;
}

#registry-section {
  min-height: 400px;

  background-color: #fff;
  text-align: center;
}

#registry-section .section-title {
  color: #333;
  padding-bottom: 0;
}

.registry-subtitle {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}

.registry-logo {
  width: 300px;
}

#rsvp-section {
  background-color: #6C3753;
  /* background-image: url(/assets/img/flourish.png); */
}

footer {
  color: #fefbf7;
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

footer > a {
  color: #fefbf7;
  border-bottom: 1px dashed #fefbf7;
}

footer > a:hover,
footer > a:focus {
  color: #fefbf7;
  text-decoration: none;
  border-bottom: 1px solid #fefbf7;
}

.bride-headshot, .groom-headshot {
  width: 250px;
  box-shadow: 0 5px 23px 0 #6C3753;
  margin: 0 1.5em;
}

.bride-headshot {
  float: right;
}

.groom-headshot {
  float: left;
}

.bride-and-groom-bio {
  margin-top: 2em;
  font-size: 1.5em;
  text-shadow: 2px 2px 10px #6C3753;
  line-height: 2em;
  font-family: 'Open Sans', sans-serif;
  color: #fefbf7;
  text-align: center;
}

@media (max-width: 480px) {
  /* .headshot { */
  /*   width: 50%; */
  /*   margin-bottom: 25px; */
  /* } */
}

.contact-input {
  padding: 25px;
  margin: 25px 0;
}

.contact-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-submit {
  padding: 15px;
  width: 200px;
}

.contact-notification {
  display: none;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .contact-input {
    margin: 25px 0;
  }

  .contact-input:first-child {
    margin-top: 25px;
  }

  .contact-submit {
    margin-left: 0;
    width: 100%;
  }
}

.button-wrapper {
  text-align: center;
}

footer {
  padding: 2em;

  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}
